# Google Sheets service account (same one used in solarsquare-qa)
GOOGLE_SA_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_SA_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n"

# The LRM Operations Google Sheet ID
SHEET_ID=17iOry-amF9Qnw9HzMd1lsjKdj-HFvxBpP768uK-m4BU
